.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
}
/* ===============HEADER=============== */
.logo-first-part-header {
font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 0.85;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.logo-second-part-header {
font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 0.85;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.menu-link {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 0.67;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.address-link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 0.67;
        letter-spacing: 0.02em;
        color: #434455;
}
/* ===============/HEADER=============== */

/* ===============Hero=============== */
.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 0.91x;
    text-align: center;
    letter-spacing: 0.02em;
    /* color: #FFFFFF; */
}
.order-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 0.67;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        /* color: #FFFFFF; */ 
        flex: none;
        order: 0;
        flex-grow: 0;
        width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
/* ===============/Hero=============== */

/* ===============Our Goals=============== */
.goals-item {
        font-weight: 500;
        font-size: 20px;
        line-height: 0.8;
        letter-spacing: 0.02em;
        color: #2E2F42;
        flex: none;
        order: 0;
}
.goals-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 0.8;
        letter-spacing: 0.02em;
        color: #434455;
        flex: none;
        order: 1;
        flex-grow: 0;
}
/* ===============/Our Goals=============== */


/* ===============Our Services=============== */
.services {
        font-weight: 700;
        font-size: 36px;
        line-height: 0.9;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;

        color: #2E2F42;
}
/* ===============/Our Services=============== */

/* ===============Our Team=============== */
.team-section {
    font-weight: 700;
        font-size: 36px;
        line-height: 0.9;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}
.team-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 0.8;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
        flex: none;
        order: 0;
        flex-grow: 0;
}
.team-position {
    font-weight: 400;
        font-size: 16px;
        line-height: 0.67;
        text-align: center;
        letter-spacing: 0.02em;
        color: #434455;
        flex: none;
        order: 1;
        flex-grow: 0;
}
/* ===============/Our Team=============== */


/* ===============Footer=============== */
.logo-first-part-footer {
    font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 0.85;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        flex: none;
        order: 0;
        flex-grow: 0;
}
.logo-second-part-footer {
font-family: 'Raleway' ,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 0.85;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.footer-description {
    font-weight: 400;
        font-size: 16px;
        line-height: 0.67;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}
/* ===============/Footer=============== */


/* ===============Portfolio=============== */
.filter-item {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        width: 116px;
        height: 48px;
        background: #F4F4FD;
        /* CORNFLOWER */
        border: 1px solid #E7E9FC;
        border-radius: 4px;
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
}
.filter-button {
font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 0.67;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}
.filter-button:focus,
.filter-button:hover {
    background-color: #404BBF;
    color: #FFFFFF;
    
}



/* ===============/Portfolio=============== */





